<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ejecutivo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h2 class="navbar-brand" >SGC</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/inicio"> Inicio</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/logout"> Cerrar sesión</a>
      </li>
      
    </ul>
  </div>
</nav>
<p>menu ejecutivo empresa</p>
  </body>
</html>